#graphs-container{
    border: 1px solid #ddd;
}

.curved-line{
    stroke: #222;
    stroke-width: 2px;
    fill: none;
    marker-end: url(#mark-end-arrow);
}

.active rect{
    stroke: #000;
    stroke-width: 2px;
  }
  